a {
    text-decoration: none;
}

/* BASE */
.container {
    width: 1368px;
    margin: 0 auto;
}

/* HEADER */

.head {
    margin: 15px 0;
    margin-bottom: 50px;
}

.objects_nav {
    display: flex;
    justify-content: center;
}

.objects_nav ul{
    text-align: center;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.objects_nav a {
    margin: 0 10px;
}

.objects_nav a {
    font-size: 24px;
    color: black;
    transition: 0.5s ease;
}

.objects_nav a:hover {
    color: rgb(10, 205, 124);
}

/* OBJECTS SCREEN */

.objects_screen {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 9px;
}


.object {
    font-size: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15%;
    height: 150px;
    text-align: center;
    transition: 0.5s ease;
    justify-content: center;
    max-width: 1fr;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    max-width: 215px;
}

.object:hover {
    background-color: rgb(10, 205, 124);
}

/* AUTH */

.users_login {
}

.login_form {
    margin: 0 auto;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 10%;
    padding: 50px 0;
    box-sizing: border-box;
}

.form_input {
    margin-bottom: 15px;
    text-align: center;

}

.form_label {

}

.auth_button {
    width: 100px;
    height: 25px;
    background-color: white;
}

.auth_button:hover {
    background-color: rgb(10, 205, 124);
    transition: 0.5s ease;
    cursor: pointer;
}

/* OBJECT */

.error_handle_object {
    text-align: center;
}

.error_handle_object a {
    color: black;
    font-size: 18px;
    border-bottom: 1px solid black;
    text-underline-offset: 2px;
    transition: 0.5s ease;
}

.error_handle_object a:hover {
    color: rgb(5, 104, 196);
    border-bottom: 1px solid rgb(5, 104, 196);
    font-size: 19px;
}

.object_info {
    text-align: center;
}

.object_info a {
    color: black;
    font-size: 18px;
    border-bottom: 1px solid black;
    text-underline-offset: 2px;
    transition: 0.5s ease;
}

.object_info a:hover {
    color: rgb(5, 104, 196);
    border-bottom: 1px solid rgb(5, 104, 196);
    font-size: 19px;
}

.object_name h1 {
    font-size: 48px;
}


.object_description {
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
}


.object_description h2 {
    font-weight: normal;
}

.object_buttons {
    margin-top: 50px;
}

.object_buttons span {
    margin: 0 15px;
}
