{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    {% if not successfull %}
        <div class="error_handle_object">
            <h1>
                {{ title }}
            </h1>
            <a href="/">Назад</a>
        </div>
    {% else %}
        <div class='object_info'>
            <div class="object_name">
                <h1>
                    {{ object.name }}
                </h1>
            </div>

            <div class="object_description">
                <h2>
                    {{ object.description }}
                </h2>
            </div>
            <div class="object_buttons">
                {% if write %}
                <span><a href="change/">Редактировать</a></span>
                {% endif %}
                <span><a href="/">Назад</a></span>
            </div>
        </div>
    {% endif %}
{% endblock %}